.slidercontents_wiskey{
    height: 650px;
    background-image: url('../../asset/mainIMG/whiskey.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
.slidercontents_wine {
    height: 650px;
    background-image: url('../../asset/mainIMG/wine.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
.slidercontents_brandy {
    height: 650px;
    background-image: url('../../asset/mainIMG/brandy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
.slidercontents_vodka {
    height: 650px;
    background-image: url('../../asset/mainIMG/vodka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
.slidercontents_festival {
    height: 650px;
    background-image: url('../../asset/mainIMG/festival.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
.slidercontents_event {
    height: 650px;
    background-image: url('../../asset/mainIMG/event.jpg');
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
  }
  
  
  .wrapText {
    margin-left: 12%;
  }